{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col mmb-3">
        <div class="pb-5 border-accent-primary">
            <h2 class="text-center mb-5">Your favourites</h2>
            <!--
            {% if products|lenght > 0 %}
            <p class="text-center"> You have chosen {{ products|lenght }} to yours favourites
                 {{products|lenght|pluralize}}. Click a <span class="icon"><i class="fas fa-heart fa-fw"></i></span>
                to remove from the list.</p>
            {% else %}
            <p class="text-center">No favourites at the moment</p>
            {% endif %} 
        </div>
    </div>
</div>
-->

{% endblock %}